.container .sec1{
    position: relative;
    
}
.sec1 img{
    border: 1px solid white;
    border-radius: 20px;
}
.container .sec2{
    position: absolute;
    top:550px;
   
    
}
.sec2 .card{
    border: 1px solid rgba(83, 127, 180, 1);
    border-radius: 40px;
}
.sec2 .card:hover{
    border: 5px;
    background-color:rgb(55, 53, 51);
    opacity:0.9;
    transition: 1000ms linear;
    color:white;
}

a:hover{
  color: orange !important;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}